.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 2px 10px;
    margin-bottom: 10px;
    height: 60px;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container h4 {
    margin-right: 5px;
}

.smallcard-container > div {
    display: flex;
    flex-direction:row;
    justify-items: flex-start;
}