

.indice-paginas-ctrl-estoque {
    background-color:rgb(243, 207, 139);
    color:white;
    font-weight: bold;
    text-align: center;
}

.titulo-pagina-ctrl-estoque {
    color:cornsilk;
    font-size: 30px;
    background-color:rgb(240, 157, 148);
    text-align: center;
    padding: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabela {
    background-color:white;
    border-width:medium;
    border-style: solid;
    border-color:black;
}
